Разработайте базу данных для предприятия связи, которая содержит следующие таблицы (не менее 3-х записей в таблицах):
-Сотрудники (табельный номер, ФИО, отдел, код должности, пол, дата рождения, стаж, семейное положение (Б-брак, Х- холост, Р- разведен), дети).
- Штатное расписание (код должности, должность, оклад).
Установите связь между таблицами.
Составьте запрос «Зарплата», в котором зарплата сотрудников вычисляется по формуле «оклад+премия». Премия зависит от стажа, если стаж <=5 лет премия равна 50 % от оклада; если стаж больше 5 лет премия равна 100 % от оклада.
 Составьте запрос «Отделы»: количество сотрудников, максимальная зарплата, минимальная зарплата, общее количество детей в отделе

In [ ]:
import sqlite3

# Создание соединения с базой данных
conn = sqlite3.connect('enterprise.db')
cursor = conn.cursor()

# Создание таблицы "Сотрудники"
cursor.execute('''CREATE TABLE IF NOT EXISTS Employees (
                employee_id INTEGER PRIMARY KEY,
                full_name TEXT,
                department TEXT,
                position_code TEXT,
                gender TEXT,
                birth_date TEXT,
                experience INTEGER,
                marital_status TEXT,
                children INTEGER
                )''')

# Создание таблицы "Штатное расписание"
cursor.execute('''CREATE TABLE IF NOT EXISTS StaffSchedule (
                position_code TEXT PRIMARY KEY,
                position TEXT,
                salary INTEGER
                )''')

# Вставка данных в таблицу "Сотрудники"
employees_data = [
    (1, 'Иванов Иван Иванович', 'Отдел продаж', 'P001', 'М', '1990-05-15', 7, 'Б', 2),
    (2, 'Петрова Анна Сергеевна', 'Отдел маркетинга', 'P002', 'Ж', '1985-10-20', 3, 'Х', 0),
    (3, 'Сидоров Павел Владимирович', 'Отдел разработки', 'P003', 'М', '1982-12-10', 10, 'Р', 1)
]

cursor.executemany('''INSERT INTO Employees VALUES (?,?,?,?,?,?,?,?,?)''', employees_data)

# Вставка данных в таблицу "Штатное расписание"
schedule_data = [
    ('P001', 'Менеджер по продажам', 50000),
    ('P002', 'Маркетолог', 60000),
    ('P003', 'Программист', 70000)
]

cursor.executemany('''INSERT INTO StaffSchedule VALUES (?,?,?)''', schedule_data)

# Сохранение изменений и закрытие соединения
conn.commit()
conn.close()

In [ ]:
# Создание соединения с базой данных
conn = sqlite3.connect('enterprise.db')
cursor = conn.cursor()

# Запрос "Зарплата"
cursor.execute('''SELECT e.full_name, s.salary + (CASE WHEN e.experience <= 5 THEN s.salary * 0.5 ELSE s.salary END) AS total_salary
                FROM Employees e
                JOIN StaffSchedule s ON e.position_code = s.position_code''')

# Вывод результатов запроса

table = {col[0]:[] for col in cursor.description}


for row in cursor.fetchall():
    for i, col in enumerate(table.keys()):
        table[col].append(row[i])

# Закрытие соединения
conn.close()
print(table)

In [ ]:
# Создание соединения с базой данных
conn = sqlite3.connect('enterprise.db')
cursor = conn.cursor()

# Запрос "Отделы"
cursor.execute('''SELECT department, COUNT(employee_id) AS num_employees, MAX(salary) AS max_salary, MIN(salary) AS min_salary, SUM(children) AS total_children
                FROM Employees e
                JOIN StaffSchedule s ON e.position_code = s.position_code
                GROUP BY department''')

# Вывод результатов запроса
table = {col[0]:[] for col in cursor.description}

for row in cursor.fetchall():
    for i, col in enumerate(table.keys()):
        table[col].append(row[i])

# Закрытие соединения
conn.close()
print(table)

Создайте и заполните базу данных сотрудников предприятия связи: - Сотрудники (табельный номер, ФИО, отдел, код должности, пол, дата рождения, стаж, семейное положение (Б-брак, Х- холост, Р- разведен), дети).
- Штатное расписание (код должности, должность, оклад),
Установите связь между таблицами.
 Составьте запросы для выборки информации:
- о сотрудниках: подразделение, ФИО, зарплата в рублях, зарплата в долларах (вычислить), отсортировав по фамилии (зарплата сотрудников вычисляется по формуле «оклад + премия», где премия равна 80 % от оклада.);
- по каждому подразделению вычислить: среднюю заработную плату, количество женщин и детей.

In [1]:
import sqlite3

# Подключение к базе данных
conn = sqlite3.connect('enterprise.db')
cursor = conn.cursor()

# Создание таблиц
cursor.execute('''
CREATE TABLE IF NOT EXISTS Сотрудники (
    табельный_номер INTEGER PRIMARY KEY,
    ФИО TEXT NOT NULL,
    отдел TEXT NOT NULL,
    код_должности INTEGER NOT NULL,
    пол TEXT NOT NULL,
    дата_рождения TEXT NOT NULL,
    стаж INTEGER NOT NULL,
    семейное_положение TEXT NOT NULL,
    дети INTEGER NOT NULL,
    FOREIGN KEY (код_должности) REFERENCES Штатное_расписание (код_должности)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Штатное_расписание (
    код_должности INTEGER PRIMARY KEY,
    должность TEXT NOT NULL,
    оклад REAL NOT NULL
)
''')

# Заполнение таблиц данными
# Пример данных для таблицы Сотрудники
cursor.execute('''
INSERT INTO Сотрудники (табельный_номер, ФИО, отдел, код_должности, пол, дата_рождения, стаж, семейное_положение, дети)
VALUES
(1, 'Иванов Иван Иванович', 'Отдел разработки', 101, 'М', '1980-01-01', 10, 'Б', 2),
(2, 'Петрова Мария Ивановна', 'Отдел маркетинга', 102, 'Ж', '1985-02-02', 8, 'Х', 0),
(3, 'Иванова Мария Петровна', 'Отдел маркетинга', 102, 'Ж', '1985-02-02', 8, 'Х', 0)
''')

# Пример данных для таблицы Штатное_расписание
cursor.execute('''
INSERT INTO Штатное_расписание (код_должности, должность, оклад)
VALUES
(101, 'Разработчик', 60000),
(102, 'Маркетолог', 50000)
''')

# Сохранение изменений
conn.commit()

# Запросы для выборки информации
# Информация о сотрудниках
cursor.execute('''
SELECT С.отдел, С.ФИО, Ш.оклад + Ш.оклад * 0.8 AS зарплата_руб, (Ш.оклад + Ш.оклад * 0.8) / 90 AS зарплата_долл
FROM Сотрудники С
JOIN Штатное_расписание Ш ON С.код_должности = Ш.код_должности
ORDER BY С.ФИО
''')

columns = tuple(col[0] for col in cursor.description)
employees_info = cursor.fetchall()

print(columns)
for employee in employees_info:
    print(employee)
print('\n\n', "*"*100, "\n\n")

# Для вычисления зарплаты в долларах необходимо знать текущий курс. Предположим, что Курс_доллара = 60
# Замените Курс_доллара на актуальное значение при выполнении запроса

# Информация по каждому подразделению
cursor.execute('''
SELECT С.отдел, AVG(Ш.оклад + Ш.оклад * 0.8) AS средняя_зарплата, SUM(CASE WHEN С.пол = 'Ж' THEN 1 ELSE 0 END) AS количество_женщин, SUM(С.дети) AS количество_детей
FROM Сотрудники С
JOIN Штатное_расписание Ш ON С.код_должности = Ш.код_должности
GROUP BY С.отдел
''')

# Получение результатов
columns = tuple(col[0] for col in cursor.description)
employees_info = cursor.fetchall()

print(columns)
for employee in employees_info:
    print(employee)
print('\n\n', "*"*100, "\n\n")
# Закрытие соединения
conn.close()

('отдел', 'ФИО', 'зарплата_руб', 'зарплата_долл')
('Отдел разработки', 'Иванов Иван Иванович', 108000.0, 1200.0)
('Отдел маркетинга', 'Иванова Мария Петровна', 90000.0, 1000.0)
('Отдел маркетинга', 'Петрова Мария Ивановна', 90000.0, 1000.0)


 ****************************************************************************************************


('отдел', 'средняя_зарплата', 'количество_женщин', 'количество_детей')
('Отдел маркетинга', 90000.0, 2, 0)
('Отдел разработки', 108000.0, 0, 2)


 ****************************************************************************************************

Создайте и заполните базу данных на Python сотрудников предприятия связи, содержащей следующие таблицы:
-Сотрудники (табельный номер, фио, пол, номер_должности, отдел, дата рождения, хобби, стаж, семейное положение (Б-брак, Х- холост, Р- разведен), дети).
- Штатное расписание (номер_должности, должность, оклад).
Установите связь между таблицами.
Создайте следующие запросы
- «Подарки» - сколько подарков на 8 Марта нужно приготовить в каждом отделе.

In [1]:
import sqlite3

# Подключение к базе данных (или ее создание, если она не существует)
conn = sqlite3.connect('enterprise.db')
cursor = conn.cursor()

# Создание таблицы Сотрудники
cursor.execute('''
CREATE TABLE IF NOT EXISTS Сотрудники (
    табельный_номер INTEGER PRIMARY KEY,
    фио TEXT NOT NULL,
    пол TEXT CHECK(пол IN ('М', 'Ж')),
    номер_должности INTEGER,
    отдел TEXT,
    дата_рождения DATE,
    хобби TEXT,
    стаж INTEGER,
    семейное_положение TEXT CHECK(семейное_положение IN ('Б', 'Х', 'Р')),
    дети INTEGER,
    FOREIGN KEY (номер_должности) REFERENCES Штатное_расписание (номер_должности)
)
''')


# Создание таблицы Штатное расписание
cursor.execute('''
CREATE TABLE IF NOT EXISTS Штатное_расписание (
    номер_должности INTEGER PRIMARY KEY,
    должность TEXT NOT NULL,
    оклад DECIMAL NOT NULL
)
''')


cursor.execute('''
INSERT INTO Сотрудники (табельный_номер, фио, пол, номер_должности, отдел, дата_рождения, хобби, стаж, семейное_положение, дети)
VALUES
(1, 'Иванов Иван Иванович', 'М',  101, 'Отдел разработки', '1980-01-01', 'работать',  10, 'Б', 2),
(2, 'Иванов Жорик Иванович', 'М',  102, 'Отдел безделии', '1980-01-01', 'работать',  5, 'Б', 2),
(3, 'Иванов Ибрагим Иванович', 'Ж',  102, 'Отдел безделии', '1980-01-01', 'работать',  3, 'Б', 0)
''')


# Пример данных для таблицы Штатное_расписание
cursor.execute('''
INSERT INTO Штатное_расписание (номер_должности, должность, оклад)
VALUES
(101, 'Разработчик', 60000),
(102, 'Маркетолог', 50000)
''')



# Запрос "Подарки" - подсчет подарков на 8 Марта в каждом отделе
query = '''
SELECT отдел, COUNT(*) as количество_подарков
FROM Сотрудники
WHERE пол = 'Ж'
GROUP BY отдел
'''

# Выполнение запроса
cursor.execute(query)
gifts = cursor.fetchall()
for department, count in gifts:
    print(f'В отделе "{department}" нужно приготовить {count} подарков на 8 Марта.')

# Закрытие соединения с базой данных
conn.commit()
conn.close()

В отделе "Отдел безделии" нужно приготовить 1 подарков на 8 Марта.

Спроектируйте базу данных для предприятия связи, содержащую следующие таблицы:
- Сотрудники (отдел, табельный номер, фио, пол, код должности, дата рождения, хобби, стаж).
- Штатное расписание (код должности, должность, оклад).
Установите связь между таблицами.

Создайте формы(у) для ввода и редактирования данных в таблицах.

Сформируйте следующие запросы:
- «Зарплата»: информация о зарплате каждого сотрудника, вычисленная по формуле зарплата = оклад + премия, где премия зависит от стажа работы и если стаж меньше или равен 5 лет, то премия равна 50 % от оклада; если стаж больше 5 лет, премия равна 100 % от оклада;
-«сотрудницы»: (пол- женский), имеющих зарплату выше средней по отделу, вывести поля: отдел, фио, пол, должность, зарплата.

In [2]:
import sqlite3

# Подключение к базе данных (или её создание, если она не существует)
conn = sqlite3.connect('company_database.db')
cursor = conn.cursor()

# Создание таблицы сотрудников
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    department TEXT,
    employee_id INTEGER PRIMARY KEY,
    full_name TEXT,
    gender TEXT,
    position_code INTEGER,
    birth_date TEXT,
    hobbies TEXT,
    experience INTEGER
)
''')

# Создание таблицы штатного расписания
cursor.execute('''
CREATE TABLE IF NOT EXISTS positions (
    position_code INTEGER PRIMARY KEY,
    position_name TEXT,
    salary REAL
)
''')

# Сохранение изменений и закрытие соединения с базой данных
conn.commit()
conn.close()

In [4]:
import tkinter as tk
from tkinter import messagebox

def insert_employee():
    # Здесь должен быть код для вставки данных сотрудника в базу данных
    # Пример:
    conn = sqlite3.connect('company_database.db')
    cursor = conn.cursor()
    cursor.execute('''INSERT INTO employees (department, employee_id, full_name, gender, position_code, birth_date, hobbies, experience) VALUES (?, ?, ?, ?, ?, ?, ?, ?)''', (department_entry.get(), employee_id_entry.get(), full_name_entry.get(), gender_entry.get(), position_code_entry.get(), birth_date_entry.get(), hobbies_entry.get(), experience_entry.get()))
    conn.commit()
    conn.close()
    messagebox.showinfo("Успех", "Сотрудник добавлен")
    
def edit_employee():
    # Здесь должен быть код для редактирования данных сотрудника в базе данных
    # Пример:
    conn = sqlite3.connect('company_database.db')
    cursor = conn.cursor()
    cursor.execute('''UPDATE employees SET department=?, full_name=?, gender=?, position_code=?, birth_date=?, hobbies=?, experience=? WHERE employee_id=?''', (department_entry.get(), full_name_entry.get(), gender_entry.get(), position_code_entry.get(), birth_date_entry.get(), hobbies_entry.get(), experience_entry.get(), employee_id_entry.get()))
    conn.commit()
    conn.close()
    messagebox.showinfo("Успех", "Данные сотрудника обновлены")

# Создание основного окна
root = tk.Tk()
root.title("Управление базой данных сотрудников")

# Создание формы для ввода данных сотрудника
employee_frame = tk.LabelFrame(root, text="Сотрудник")
employee_frame.grid(row=0, column=0, padx=10, pady=10, sticky="ew")

# Поля ввода
labels = ['Отдел', 'Табельный номер', 'ФИО', 'Пол', 'Код должности', 'Дата рождения', 'Хобби', 'Стаж']
for i, label in enumerate(labels):
    tk.Label(employee_frame, text=label).grid(row=i, column=0, sticky="e", padx=5, pady=5)

department_entry = tk.Entry(employee_frame)
employee_id_entry = tk.Entry(employee_frame)
full_name_entry = tk.Entry(employee_frame)
gender_entry = tk.Entry(employee_frame)
position_code_entry = tk.Entry(employee_frame)
birth_date_entry = tk.Entry(employee_frame)
hobbies_entry = tk.Entry(employee_frame)
experience_entry = tk.Entry(employee_frame)

entries = [department_entry, employee_id_entry, full_name_entry, gender_entry, position_code_entry, birth_date_entry, hobbies_entry, experience_entry]
for i, entry in enumerate(entries):
    entry.grid(row=i, column=1, sticky="ew", padx=5, pady=5)

# Кнопки
tk.Button(employee_frame, text="Добавить сотрудника", command=insert_employee).grid(row=len(labels), column=0, padx=5, pady=5, sticky="ew")
tk.Button(employee_frame, text="Редактировать сотрудника", command=edit_employee).grid(row=len(labels), column=1, padx=5, pady=5, sticky="ew")

# Запуск основного цикла Tkinter
root.mainloop()

In [3]:
import tkinter as tk
from tkinter import messagebox

def insert_employee():
    # Здесь должен быть код для вставки данных сотрудника в базу данных
    pass

def edit_employee():
    # Здесь должен быть код для редактирования данных сотрудника в базе данных
    pass

# Создание основного окна
root = tk.Tk()
root.title("Управление базой данных сотрудников")

# Создание формы для ввода данных сотрудника
employee_frame = tk.LabelFrame(root, text="Сотрудник")
employee_frame.grid(row=0, column=0, padx=10, pady=10)

# Здесь должны быть виджеты для ввода данных сотрудника и кнопки для вызова функций insert_employee и edit_employee

# Запуск основного цикла Tkinter
root.mainloop()

In [ ]:
def calculate_salary():
    # Запрос на расчет зарплаты с учетом премии в зависимости от стажа
    cursor.execute('''
    SELECT e.full_name, p.salary, e.experience,
    CASE
        WHEN e.experience <= 5 THEN p.salary * 1.5
        WHEN e.experience > 5 THEN p.salary * 2.0
    END AS total_salary
    FROM employees e
    JOIN positions p ON e.position_code = p.position_code
    ''')
    return cursor.fetchall()

def get_female_employees_with_higher_salary():
    # Запрос на получение сотрудниц с зарплатой выше средней по отделу
    cursor.execute('''
    SELECT e.department, e.full_name, e.gender, p.position_name,
    (p.salary + CASE WHEN e.experience <= 5 THEN p.salary * 0.5 ELSE p.salary END) AS total_salary
    FROM employees e
    JOIN positions p ON e.position_code = p.position_code
    WHERE e.gender = 'женский' AND total_salary > (
        SELECT AVG(p.salary + CASE WHEN e.experience <= 5 THEN p.salary * 0.5 ELSE p.salary END)
        FROM employees e
        JOIN positions p ON e.position_code = p.position_code
        WHERE e.department = e.department
    )
    ''')
    return cursor.fetchall()



calculate_salary()